@CHARSET "UTF-8";
div.shop-car-panel{
	width: 900px;
	margin: auto;
}
div.shop-car-panel div.location-bar{
	height: 45px;
	background: #fff;
	padding-left: 20px;
	cursor: default;
}

div.location-bar div.point-tip{
	width: 100px;
	text-align: center;
	padding: 8px 0px;
	background: #ccc;
	font-size: 12px;
	margin-top: 8px;
	float: left;
}
div.location-bar div.point-tip-on{
	width: 100px;
	text-align: center;
	padding: 8px 0px;
	color: #fff;
	background: #F67603;
	font-size: 12px;
	margin-top: 8px;
	float: left;
}
div.location-bar div.arr-icon{
	width: 23px;
	text-align: center;
	height:17px;
	background: url("../images/arr-icon.png") no-repeat;
	float: left;
	margin: 14px 10px;
}

div.shop-car-panel div.product-list-container{
}
tr.th td{
	background: #f3b344;
	height: 25px;
	padding: 5px;
	border-bottom: 3px solid #333;
	font-weight: bold;
}
tr.tb td{
	background: #fff;
	padding: 2px 5px;
	border-bottom: 1px dotted #333;
	font-weight: normal;
}
tr.tf td{
	background: #fff;
	padding: 5px 5px;
	font-weight: normal;
}

.left{
	text-align: left;
}
.right{
	text-align: right;
}

div.order-form-detail{
	background: #fff;
	margin: 5px 0px;
}
div.block-title{
	background: #ccc;
}
div.block-title div{
	width: 100px;
	text-align: center;
	padding: 8px 0px;
	color: #fff;
	background: #F67603;
	font-size: 12px;
	margin-top: 8px;
	font-weight: bold;
}
div.block-content{
}